@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: #1f2235;
        box-sizing: border-box;
    }
    header {
        display: flex;
        align-items:flex-start;
        width: 100vw;
        height: 3rem;
        margin: 0;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 7rem;
    }
    /*Formatação das DIVs*/
    .about {
        display: flex;
        justify-content: center;
        width: 100vw;
        background-color: #24263b;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95vw;
        height: 70vh;
    }
    .about-presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70h;
    }
    .about-projects {
        display: flex;
        align-items: center;
        height: 30%;
        gap: 35px;
    }
    .about-image, .nav-desk {
        display: none;
    }
    .know-card {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 12px;
    }
    .flip-container {
        flex: 0 0 50%;
        scroll-snap-align: start;
    }
    .know-card::-webkit-scrollbar {
        height: 12px;
      }
    .know-card::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    .know-card::-webkit-scrollbar-thumb {
        background-color:  #ff4a57;
        border-radius: 4px;
    }
    .contate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #24263b;
        box-sizing: border-box;
        padding-bottom: 25px;
    }
    .form-image img{
        width: 16rem;
    }
    h1, h2 {
        font-weight: bold;
        font-size: 32px;
    }
    .nav-mobile, .dropmenu, .sub-dropmenu {
        display: block;
    }
    .menu-content {
        display: none;
        position: absolute;
        width: 50%;
        height: 50%;
        border: 1px solid #ff4a5788;
        border-radius: 0 8px 8px 0;
        background-color: #ff4a5799;
        backdrop-filter: blur(1px);
        padding: 10px;
        gap: 10px;
        text-transform: uppercase;
    }
    .sub-menu-content {
        display: none;
        position: absolute;
        padding: 15px;
        gap: 10px;
    }
    .menu-content a,ul {
        font-size: 18px;
    }
    .sub-menu-content ul a{
        display: none;
        position: absolute;
        padding: 10px;
    }
    .dropmenu:hover .menu-content {
        display: flex;
        flex-direction: column;
    }
    .sub-dropmenu:hover .sub-menu-content{
        display: flex;
        flex-direction: column;
        position: static;
    }
}
.form{
    max-width: 100vw;
    border-radius: 12px;
}
