@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    box-sizing: border-box;
}
/*Formatação*/
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #1f2235;
}
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    height: 7rem;
    font-weight: 600;
}
/*Formatação das DIVs*/
.about {
    display: flex;
    justify-content: center;
    background-color: #24263b;
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
}
.about-image {
    display: flex;
    justify-content: center;
    width: 40vw;
}
.knowledge {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    padding: 25px;
}
.b{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
.c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.contate{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #24263b;
    padding: 25px;
}
.form-image{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}
form {
    width: 680px;
}
label {
    display: block;
}
input {
    padding: 10px;
    height: 35px;
    border-radius: 8px;
    color: #1f2235;
}
textarea {
    padding: 10px;
    width: 270px;
    height: 100px;
    border-radius: 8px;
    color: #1f2235;
}
/*Botão*/
button {
    width: 150px;
    height: 55px;
    border-radius: 50px;
    border: 2px solid #ff4a57;
    background-color: transparent;
    font-weight: 600;
}
.aStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid #ff4a57;
    border-radius: 50px;
}
/*Navegação e outros*/
h1, h2 {
    font-weight: bold;
    font-size: 62px;
}
nav,ul {
    display: flex;
    gap: 35px;
    border-radius: 12px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #ff4a57;
    border-radius: 12px;
    background-color: #24263b;
    padding: 80px;
}
.dropmenu {
    display: block;
}
.menu-content{
    display: none;
    position: absolute;
    padding: 10px;
}
.menu-content a {
    font-size: 18px;
}
.dropmenu:hover .menu-content {
    display: flex;
    flex-direction: column;
}
/*Efeitos Hover*/
button:hover,
.aStyle:hover,
.card:hover {
    background-color: #ff4a57;
    cursor: pointer;
}
nav ul:hover,
a:hover,
.menu-content li:hover {
    color:#ff4a57;
    cursor: pointer;
}

/*Teste Flip*/

.flip-container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}
.flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    position: relative;
}
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}

@media screen and (max-width: 1024px) {
    .about-image {
        display: none;
    }
    .about-text {
        display: flex;
        width: 100vw;
    }
    
}
